/HW1/HW1.X/nbproject/private/
/HW1/homework1.X/nbproject/private/
/HW1/hw1b.X/nbproject/private/
/HW1/hw1b.X/dist/default/
/HW4/SPI&I2C.X/nbproject/private/
/HW4/SPI&I2C.X/dist/default/
/NewFolder/IMU.X/nbproject/private/
/NewFolder/IMU.X/build/default/
/NewFolder/IMU.X/dist/default/
/HW6/IMU.X/nbproject/private/
/NewFolder/new.X/nbproject/private/
/NewFolder/new.X/build/default/
/NewFolder/new.X/dist/default/
/NewFolder.1/jin.X/nbproject/private/
/NewFolder.1/jin.X/build/default/
/NewFolder.1/jin.X/dist/default/
/NewFolder.1/TFTLCD.X/nbproject/private/
/HW5/TFTLCD.X/nbproject/private/
/HW5/TFTLCD.X/build/default/
/HW5/TFTLCD.X/dist/default/