/HW1/HW1.X/nbproject/private/
/HW1/homework1.X/nbproject/private/
/HW1/hw1b.X/nbproject/private/
/HW1/hw1b.X/dist/default/
/HW4/SPI&I2C.X/nbproject/private/
/HW4/SPI&I2C.X/dist/default/
/NewFolder/IMU.X/nbproject/private/
/NewFolder/IMU.X/build/default/
/NewFolder/IMU.X/dist/default/
/HW6/IMU.X/nbproject/private/